<!-- <div class="content">
  <section class="main-content">
    <div class="row top-level">
      <div class="col-4">
        <fieldset class="form-section">
          <div class="form-title">
            <h3>{{currentName}}</h3>
            <div class="right-item">
              <a mat-icon-button
                (click)="openDialog('clients')">
                <i class="material-icons">add_circle</i>
              </a>
            </div>
          </div>

        </fieldset>
      </div>


    </div>
  </section>
</div> -->